<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title>Netzke Task Manager</title>
  <%= csrf_meta_tag %>
  <%= load_netzke %>
  <style type="text/css" media="screen">
  	h1 { text-align: center; margin: 10px;}
  	.netzke-component { width: 1000px; margin: auto;}
  </style>
</head>
<body>

<%= yield %>

</body>
</html>
